---
---

@import "{{ site.theme }}";

header h1 {
  display: none;
}

.sidebar-links {
  margin-top: 15px;
}

.sidebar-links a {
  display: inline-block;
  margin-right: 8px;
  color: #727272;
}

.sidebar-links a:hover {
  color: #069;
}
